body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(51,51,51);
    padding: 10px 20px;
}

a:hover {
    color: #7a7a7a;
    text-decoration: underline;
}

.inicio {
    text-align: left;
    padding: 40px;
    margin-right: 390px;
    position: relative;
}

.parkour img {
    width: 400px; /* Reduzi o tamanho da imagem */
    margin-right: 49px; /* Espaçamento entre a imagem e o texto */
    display: inline-block; /* Permite que o texto flua ao lado da imagem */
    vertical-align: middle; /* Alinha a imagem verticalmente ao meio do texto */
 }

h1 {
    font-size: xx-large;
}

.botao {
    font-family: 'Roboto Mono', monospace;
    border: solid 10px rgb(51, 51, 51);
    border-radius: 20px;
    color: white;
    background-color: rgb(51,51,51);
    margin-top: 20px;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(241, 194, 176);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    margin: 11px;
    display: flex;
    position: relative;
}

.card h1{
    color: #ffffff;
}

.card p{
    color: #333333;
}

.card h2{
    color: #333333;
}

.card img{
    width: 50px;
    height: auto;
    margin: 2px;
}

.card2 {
    background-color: rgb(249, 235, 152);
    width: 250px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    position: relative;
}

.card2 h1{
    color: #ffffff;
}

.card p{
    color: #333333;
}

.card2 h2{
    color: #333333;
}

.card2 img{
    width: 50px;
    height: auto;
    margin: 2px;
}

.card3 {
    background-color: rgb(192, 217, 221);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    position: relative;
}

.card3 h1{
    color: #ffffff;
}

.card3 p{
    color: #333333;
}

.card3 h2{
    color: #333333;
}

.card3 img{
    width: 50px;
    height: auto;
    margin: 2px;
}

.card4 {
    background-color:rgb(105, 117, 232);
    width: 250px;
    padding: 8px;
    border-radius: 10px;
    margin: 8px;
    display: flex;
    position: relative;
}

.card4 h1{
    color: #ffffff;
}

.card4 p{
    color: #333333;
}

.card4 h2{
    color: #333333;
}

.card img{
    width: 50px;
    height: auto;
    margin: 2px;
}

.platform-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: 8px; 
    right: 8px;
}

h1, h2, p {
    margin: 0;
}
